@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/utilities';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';

@import 'components/button';
@import 'components/card';
@import 'components/video';

@import 'layout/flex';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';

@import 'pages/index';