.card {
    border: solid 1px $color-grey-light;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem rgba($color-black, .1);
    transition: all .3s ease;
    height: 55rem;
    width: 100%;
    position: relative;
    margin: 0 3rem;

    @include res(tablet) {
        margin: 3rem auto;
        width: 90%;
    }

    &:hover {
        @include res(wide) {
            transform: scale(1.05);
            box-shadow: 0 1rem 1rem rgba($color-black, .2);
        }
    }

    &__photo {
        background-size: cover;
        background-position: bottom;
        height: 20rem;
        background-blend-mode: screen;

        &--1 {
            background-image: url(../images/beach1.jpg);
            background-color: $color-secondary;
        }
        &--2 {
            background-image: url(../images/beach2.jpg);
            background-color: $color-primary;
        }
        &--3 {
            background-image: url(../images/beach3.jpg);
            background-color: $color-tertiary;

        }
    }

    &__heading {
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        width: 100%;
        z-index: 99;
        width: 60%;
        box-shadow: 0 .5rem .5rem rgba($color-black, .1);
        background-color: $color-white;
        padding: 1rem;

        &--1 {
            color: $color-secondary;
        }
        &--2 {
            color: $color-primary;
        }
        &--3 {
            color: $color-tertiary;
        }
    }
    
    &__details {
        margin-top: 5rem;
    }
    
    &__list {
        list-style: none;
        font-size: 1.4rem;
        padding: 0 3rem;

        & li {
            &:not(:last-child) {
                padding: .8rem 0;
                border-bottom: solid 1px $color-grey-light;
            }
        }
    }

    &__action {
        margin-top: 3rem;
    }
}