.card {
    padding: 5rem;
    border: solid 1px $color-grey-light;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba($color-black, .1);
    transition: all .3s ease;

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 1.5rem 1.5rem rgba($color-black, .2);
    }

    &__list {
        list-style: none;

        & li {
            &:not(:last-child) {
                padding: .8rem 0;
                border-bottom: solid 1px $color-grey-light;
            }
        }
    }
}