.footer {
    background-color: $color-primary;
    color: $color-white;

    &__logo {
        width: 20rem;
        margin: 0 auto;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-top: -1.5rem;
        color: $color-white;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {
        display: block;

        &,
        &:link,
        &:visited {
            transition: all .3s;
            padding: .5rem 1rem;
            border-bottom: solid 2px transparent;
        }

        &:hover {
            transform: scale(1.1);
            color: $color-secondary;
            border-color: $color-secondary;
        }
    }

    &__copyright {
        margin-top: 3rem;
        font-size: 1.2rem;
    }
}