.row {
    max-width: $grid-width;
    margin: 0 auto;

    @include adapt(desktop) {
        padding: 0 3rem;
    }

    @include clearfix;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^="column-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include adapt(tablet) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        @include adapt(tablet) {
            width: 100% !important;
        }
    }

    .column {
        width: 100%;
    }

    .column-half {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .column-one-third {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .column-one-quarter {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

}