.navigation {
    font-size: 3rem;

    &__logo {
        width: 20rem;
        display: block;
        text-align: center;
        font-size: 2rem;
        transition: all .3s;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;

        & > * {
            display: block;
            margin: 0 auto;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 0;
        right: 5rem;
        z-index: 3000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        transition: all .2s;
        user-select: none;
    }

    &__icon {
        position: relative;
        margin-top: 3rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: $color-primary-light;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .3s;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    &__background {
        position: fixed;
        z-index: 1000;
        height: 5rem;
        width: 5rem;
        background-image: linear-gradient(to right top, $color-primary-light, $color-primary-dark);
        top: -50rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .5s ease;
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        opacity: 0;
        width: 0;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 2rem;
    }

    &__link {
        display: inline-block;

        &:link,
        &:visited {
            transition: all .3s;
            padding: 0 3rem;
        }

        &:hover,
        &:active {
            transform: scale(1.1);
            background-color: $color-white;
            color: $color-secondary;
            font-weight: 700;
        }
    }

    &__button:hover {
        transform: scale(1.1);
        box-shadow: 0 2rem 5rem rgba($color-black, .3);
    }

    /**
    * When the "checkbox" is checked, remove the middle line, then roate the 
    * "before" and "after" lines to form an "X" for the menu close button.
    **/
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    /**
    * When the "checkbox" is checked, make the background fill the screen and 
    * show it and the nav section from their hidden state.
    **/
    &__checkbox:checked ~ &__background {
        transform: scale(85);
        opacity: 1;
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
}