.button {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;

        &:hover {
            transform: translateY(-.2rem);
            box-shadow: 0 1rem 1rem rgba($color-black, .2);
        }

        &:active,
        &:focus {
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem .5rem rgba($color-black, .2);
        }
    }

    &--full {
        width: 100%;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
            text-shadow: 2px 2px 0 $color-primary-dark;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-white;

        &:hover {
            text-shadow: 2px 2px 0 $color-secondary-dark;
        }
    }
}