.form {

    &__block {
        margin: 2rem auto;
    }

    &__text {
        font-size: 1.5rem;
        padding: 1.25rem 1.5rem;
        border: solid 2px $color-primary-light;
        background-color: rgba($color-white, .5);
        transition: all .3s;
        width: 90%;
        display: block;
        transition: all .2s;

        &:hover,
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-color: $color-primary;
        }
    }

    &__text:placeholder-shown + &__label { 
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__checkbox {
        display: none;
    }

    &__checkbox-label {
        cursor: pointer;
        font-size: 1.4rem;
        position: relative;
        padding-left: 3.5rem;
    }

    &__checkbox-box {
        height: 2.5rem;
        width: 2.5rem;
        border: 2px solid $color-primary;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.5rem;

        &::after {
            content: "✓";
            display: block;
            font-size: 2.25rem;
            color: $color-primary;
            position: absolute;
            top: 55%;
            left: 55%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .3s;
        }
    }

    &__checkbox:checked ~ &__checkbox-label &__checkbox-box:after {
        opacity: 1;
    }

    &__submit {
        margin-top: 1.25rem;
    }
}