.header {
    grid-column: outer-start / outer-end;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 60% 40%;
    justify-items: center;

    &__nav {
        font-size: 2.2rem;
        padding: 1.5rem 0;
        grid-column: 1 / span 2;
        width: 100%;
        color: $color-white;

        display: flex;
        justify-content: end;
    }

    &__items {
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin-right: 3rem;
    }

    &__left {
        background-color: $color-primary;
        color: $color-white;
        font-size: 2.2rem;
        display: grid;
        padding: 5rem;
        line-height: 1.5;
        letter-spacing: 2px;
    }

    &__content {
        align-self: center;
        justify-self: center;
    }

    &__right {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: $color-secondary;
    }

    &__form {
        margin: 3rem;
        align-self: center;
        justify-self: center;
    }
}