body {
    font-family: 'Inter', sans-serif;
}

.header {
    font-family: 'Montserrat', sans-serif;

    &__logo {
        font-size: 5rem;
    }
}

%heading {
    font-family: sans-serif;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.heading {
    @extend %heading;
    
    &--1 {
        font-size: 5rem;
    }

    &--2 {
        font-size: 2.5rem;
    }

    &--3 {
        font-size: 2rem;
        text-transform: uppercase;
    }

}