.items {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    margin: 2rem;
    padding: 3rem;
    text-align: center;
    color: $color-black;
    font-size: $default-font-size;
    width: 32rem;
    background-color: white;
    border-radius: .6rem;
    transition: all .2s;

    &__icon {
        font-size: 8rem;
        background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__details {
        line-height: 1.5;
    }

    &:hover {
        transform: translateY(-1rem);
    }
}

.announcement {
    margin-top: 16rem;
    display: flex;
    justify-content: center;

    &__content {
        width: 112rem;
        background: linear-gradient(to top, $color-primary, $color-primary-dark);
        padding: 5rem;
        border-radius: 1rem;
    }

    &__title {
        margin: 2rem 0;

        & > * {
            display: block;
        }

        &--small {
            font-size: 2.6rem;
            color: rgba($color-white, .6);
        }

        &--large {
            font-size: 6rem;
        }
    }

    &__details {
        font-size: 1.8rem;
        color: rgba($color-white, .6);
    }

    &__stats {
        margin: 4rem 0;
        display: flex;
        justify-content: space-around;
    }

    &__stat {
        flex: 1 1 0;
        
        &-number {
            font-size: 6rem;
            font-weight: 700;
            color: $color-primary-dark;
        }

        &-description {
            font-size: 2rem;
            color: rgba($color-white, .6);
        }
    }

    
}

.logos {
    margin-top: 12rem;
    &__logos {
        margin: 8rem 20rem 10rem 20rem;
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4rem;
        justify-items: center;
        align-items: center;
    }

    &__logo {
        max-height: 5rem;
        max-width: 100%;
        filter: brightness(60%);
    }
}