.overlap {
    margin: -10rem auto 5rem auto;
    width: 80%;
    min-height: 25rem;
    background-color: $color-white;
    box-shadow: 0 1rem 6rem rgba($color-black, .2);
    padding: 3rem;

    &__content {
        text-align: justify;
        font-size: 1.4rem;
    }

    @include adapt(phone) {
        width: 90% !important;
    }
}

.info {
    &__content {
        height: 45rem;
        display: table-cell;
        vertical-align: middle;
    }

    &__image {
       width: 85%;
    }

    &__paragraph {
        text-align: justify;
    }
}

.details {
    margin-top: 8rem;

    .detail {
        background-color: $color-white;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        padding: 3rem;
        transition: all .2s;

        &__content {
            text-align: justify;
        }

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 0 2rem 3rem rgba($color-black, .3);
        }
    }
}

.message {
    &__box {
        background-color: $color-secondary;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        color: $color-white;
        padding: 3rem;
    }
}