.overlap {
    position: absolute;
    width: 80%;
    height: 25rem;
    background-color: $color-white;
    box-shadow: 0 1rem 6rem rgba($color-black, .1);
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 3rem;
}

.details {

}

.message {

}