.info {
    padding: 5rem 10rem; 

    @include res(desktop) {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    & > * {
        margin: 0 1rem;
    }

    &__content {
        padding: 5rem;

        @include res(desktop) {
            padding: 2rem;
            order: 2;
        }
    }

    &__photo {
        height: 100%;
        width: 90%;
        border-radius: 50%;
        transition: all .2s;
        box-shadow: 0 .5rem .5rem rgba($color-black, .1);

        @include res(tablet) {
            width: 20rem;
            margin: 1rem auto;
            order: 1;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 1rem 1rem rgba($color-black, .2);
        }
    }
}

.reviews {
    padding: 10rem 0;
    position: relative;

    @include res(desktop) {
        padding: 5rem 0;
    }

    .review {
        background-color: rgba($color-white, .75);
        width: 60%;
        margin: 2rem auto;
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 0 1rem 1rem rgba($color-black, .1);

        @include res(desktop) {
            width: 90%;
        }

        &__title {
            font-weight: bold;
            text-transform: uppercase;
            color: $color-tertiary;
            font-size: 1.6rem;
            font-style: italic;
        }

        &__content {
            margin: 1rem 0;
            font-size: 1.4rem;
        }

        &__user {
            font-size: 1.2rem;
            color: $color-grey;
            text-align: right;
        }
    }
}