$default-font-size: 1.6rem;

$color-primary: #F50057;
$color-primary-light: #ff0f63;
$color-primary-dark: #d8004c;

$color-secondary: #323232;
$color-secondary-light: #464646;
$color-secondary-dark: #212121;

$color-grey: #e0e0e0;
$color-white: #f5f5f5;
$color-black: #171717;