.advert {
    grid-column: inner-start / inner-end;
    background-color: orange;
}

.promos {
    grid-column: inner-start / inner-end;
    background-color: purple;
}

.logos {
    grid-column: outer-start / outer-end;
    background-color: brown;

    display: flex;
}

.story {
    grid-column: outer-start / outer-end;
    background-color: green;
}