.row {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;

    @include res(tablet) {
        flex-direction: column;
    }
}

.columns {
    display: flex; 
    flex-direction: column; 
}

