.row {
    display: flex; 
    flex-direction: row; 

    &--even {
        justify-content: space-evenly;
    }

    &--center {
        justify-content: center;
        align-items: center;
    }
}

.column {
    display: flex; 
    flex-direction: column; 
    padding: 3rem;
}

