.advert {
    font-size: 2rem;
    grid-column: inner-start / inner-end;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 2fr 3fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;

    &__details {
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
    }

    &__image {
        width: 100%;

        &--animated {
            animation: inFromLeft 1s ease-out;
        }
    }

    &__left {
        margin: auto 5rem;
    }

    &__right {
        margin: auto 5rem;
        text-align: center;
    }
}

.logos {
    grid-column: outer-start / outer-end;
    background-color: $color-primary;
    padding: 3rem 6rem;

    &__intro {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        color: $color-white;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: currentColor;
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 4.5rem;
            max-width: 100%;
            filter: brightness(90%);
        }
    }
}

.promo {
    margin: 6rem 0;
    grid-column: inner-start / inner-end;

    &__items {
        margin: 6rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        grid-column-gap: 6rem;
    }

    &__item {
        border-top: .75rem solid transparent;
        border-bottom: .75rem solid transparent;
        transition: all .3s;
        padding: 3rem 1rem;
        text-align: center;

        &-icon {

        }

        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            color: $color-primary;
            margin: 1rem 0;
        }

        &-detail {
            font-size: $default-font-size;
            line-height: 1.5;
        }

        &:hover {
            transform: scale(1.1);
            border-top: .75rem solid $color-primary;
            border-bottom: .75rem solid $color-primary;
        }
    }

    &__details {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
        margin: 2rem auto;
        text-align: center;
        width: 75rem;
        font-family: sans-serif;
    }
}

.story {
    grid-column: outer-start / outer-end;
    font-size: 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 3fr 2fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 10rem auto;
    text-align: center;

    &__image {
        width: 100%;

        &--animated {
            animation: inFromRight 1s ease-out;
        }
    }

    &__details {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.5;
    }

    &__left {
        margin: auto 5rem;
    }

    &__right {
        margin: auto 5rem;
        text-align: center;
    }
}