.advert {
    font-size: 2rem;
    grid-column: inner-start / inner-end;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 2fr 3fr;
    align-content: center;
    justify-content: center;
    align-items: center;

    &__details {
        font-family: sans-serif;
        font-weight: 300;
    }

    &__image {
        width: 100%;
    }

    &__left {
        margin: 12rem 5rem;
    }

    &__right {
        margin-right: 3rem;
        text-align: center;
    }
}

.logos {
    grid-column: outer-start / outer-end;
    background-color: $color-primary;
    
    padding: 3rem 6rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
        max-height: 4.5rem;
        max-width: 100%;
        filter: brightness(90%);
    }
}

.promo {
    margin: 6rem 0;
    grid-column: inner-start / inner-end;

    &__items {
        margin: 6rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        grid-column-gap: 6rem;
    }

    &__item {
        border-top: .75rem solid transparent;
        border-bottom: .75rem solid transparent;
        transition: all .3s;
        padding: 3rem 1rem;
        text-align: center;

        &-icon {

        }

        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            color: $color-primary;
            margin: 1rem 0;
        }

        &-detail {
            font-size: $default-font-size;
        }

        &:hover {
            transform: scale(1.1);
            border-top: .75rem solid $color-primary;
            border-bottom: .75rem solid $color-primary;
        }
    }

    &__details {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 300;
        margin: 2rem auto;
        text-align: center;
        width: 75rem;
        font-family: sans-serif;
    }
}

.story {
    grid-column: outer-start / outer-end;
}