.advert {
    font-size: 2rem;
    margin: 10rem auto;
    text-align: center;

    &__details {
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
    }

    &__image {
        width: 100%;

        &--animated {
            animation: inFromLeft 1s ease-out;
        }

        @media only screen and (max-width: $bp-large) {
            width: 50%;
            margin-bottom: 3rem;
        }
    }

    &__left {
        margin: auto 5rem;
    }

    &__right {
        margin: auto 5rem;
    }
}

.logos {
    background-color: $color-primary;
    padding: 3rem 6rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem 2rem;
    }

    &__intro {
        color: $color-white;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;

        &::before,
        &::after {
            @media only screen and (min-width: $bp-large) {
                content: "";
                display: block;
                height: 1px;
                background-color: currentColor;
            }
        }
    }

    &__images {

        img {
            max-height: 4.5rem;
            max-width: 100%;
            filter: brightness(90%);

            @media only screen and (max-width: $bp-medium) {
                height: 3rem;
                width: auto;
            }
        }
    }
}

.promo {
    margin: 6rem 0;

    &__items {
        margin: 6rem 0;
    }

    @media only screen and (max-width: $bp-large) {
        margin: 3rem;
    }

    &__item {
        border-top: .75rem solid transparent;
        border-bottom: .75rem solid transparent;
        transition: all .3s;
        padding: 3rem 1rem;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            width: 50%;
            margin: 0 auto;
        }

        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            color: $color-primary;
            margin: 1rem 0;
        }

        &-detail {
            font-size: $default-font-size;
            line-height: 1.5;
        }

        &:hover {
            transform: scale(1.1);
            border-top: .75rem solid $color-primary;
            border-bottom: .75rem solid $color-primary;
        }
    }

    &__details {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
        margin: 2rem auto;
        text-align: center;
        width: 75rem;
        font-family: sans-serif;
    }
}

.story {
    font-size: 2rem;
    margin: 2rem auto 10rem auto;
    text-align: center;

    &__image {
        width: 100%;

        &--animated {
            animation: inFromRight 1s ease-out;
        }

        @media only screen and (max-width: $bp-large) {
            width: 50%;
            margin-bottom: 3rem;
        }
    }

    &__details {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.5;
    }

    &__left {
        margin: auto 5rem;
    }

    &__right {
        margin: auto 5rem;
        text-align: center;
    }
}