body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    font-size: $default-font-size;
}

.navigation {
    color: $color-white;
    font-size: 2rem;
}

.header {
    &__brand {
        font-size: 3rem;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    & > * {
        display: block;
    }

    &--title {
        font-size: 4rem;
        letter-spacing: 1rem;
    }

    &--subtitle {
        font-size: 2.2rem;
        letter-spacing: .75rem;
    }
}

.heading-secondary {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 600;
    background-image: linear-gradient(to top right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 400;
    color: $color-secondary;
}