body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    font-size: $default-font-size;

    @include adapt(phone) {
        font-size: 1.2rem;
    }
}

.navigation {
    color: $color-white;
    font-size: 2rem;
}

.header {
    &__brand {
        font-size: 3rem;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    & > * {
        display: block;
    }

    &--title {
        font-size: 4rem;
        letter-spacing: 1rem;

        @include adapt(phone) {
            font-size: 3.2rem;
            margin-bottom: 1.2rem;
            line-height: 1.4;
        }
    }

    &--subtitle {
        font-size: 2.2rem;
        letter-spacing: .75rem;

        @include adapt(phone) {
            font-size: 1.6rem;
        }
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    background-image: linear-gradient(to top right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }

    @include adapt(phone) {
        font-size: 2rem;
    }

}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 400;
    color: $color-secondary;
    text-shadow: 1px 2px $color-secondary-dark;
    font-style: italic;

    @include adapt(phone) {
        font-size: 1.8rem;
        text-shadow: none;
    }
}