.center {
  text-align: center; }

.right {
  text-align: right; }

.mt-1,
.my-1 {
  margin-top: 1rem; }

.mt-2,
.my-2 {
  margin-top: 3rem; }

.mt-3,
.my-3 {
  margin-top: 5rem; }

.mt-4,
.my-4 {
  margin-top: 8rem; }

.mb-1,
.my-1 {
  margin-bottom: 1rem; }

.mb-2,
.my-2 {
  margin-bottom: 3rem; }

.mb-3,
.my-3 {
  margin-bottom: 5rem; }

.mb-4,
.my-4 {
  margin-bottom: 8rem; }

.pt-1 {
  padding-top: 5rem; }

.pt-2 {
  padding-top: 10rem; }

.pt-3 {
  padding-top: 15rem; }

.pb-1 {
  padding-bottom: 5rem; }

.pb-2 {
  padding-bottom: 10rem; }

.pb-3 {
  padding-bottom: 15rem; }

.py-1 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.py-2 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

svg {
  margin-bottom: -1rem; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 1.6rem; }

.navigation {
  color: white;
  font-size: 2rem; }

.header {
  color: white;
  font-size: 4rem; }

.heading-primary {
  color: white;
  font-size: 4rem;
  text-transform: uppercase; }
  .heading-primary > * {
    display: block; }
  .heading-primary--title {
    font-size: 4rem; }
    @media only screen and (max-width: 35em) {
      .heading-primary--title {
        font-size: 3rem; } }
  .heading-primary--subtitle {
    font-size: 3rem;
    font-weight: 200; }
    @media only screen and (max-width: 35em) {
      .heading-primary--subtitle {
        font-size: 1.8rem; } }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #FF8E00; }
  @media only screen and (max-width: 35em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  color: #FF0090; }
  @media only screen and (max-width: 35em) {
    .heading-tertiary {
      font-size: 1.6rem; } }

.button {
  padding: 2rem 4rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 200;
  cursor: pointer;
  transition: all .2s;
  border-radius: 5rem; }
  .button:hover {
    font-weight: 300;
    transform: scale(1.1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .button--small {
    font-size: 1.4rem;
    padding: 1.2rem 4rem; }
  .button--white {
    background-color: white; }
  .button--primary {
    color: white;
    background-color: #0099ff; }
  .button--secondary {
    color: white;
    background-color: #FF8E00; }
  .button--tertiary {
    color: white;
    background-color: #FF0090; }

.card {
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  height: 58rem;
  width: 100%;
  position: relative;
  margin: 0 3rem;
  overflow: hidden; }
  @media only screen and (max-width: 55em) {
    .card {
      margin: 2rem auto;
      width: 90%; } }
  @media only screen and (min-width: 76em) {
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); } }
  .card__photo {
    background-size: cover;
    background-position: bottom;
    height: 20rem;
    background-blend-mode: screen; }
    .card__photo--1 {
      background-image: url(../images/beach1.jpg);
      background-color: #FF8E00; }
    .card__photo--2 {
      background-image: url(../images/beach2.jpg);
      background-color: #0099ff; }
    .card__photo--3 {
      background-image: url(../images/beach3.jpg);
      background-color: #FF0090; }
  .card__heading {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    z-index: 99;
    width: 60%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem; }
    .card__heading--1 {
      color: #FF8E00; }
    .card__heading--2 {
      color: #0099ff; }
    .card__heading--3 {
      color: #FF0090; }
  .card__details {
    margin-top: 4rem; }
  .card__list {
    list-style: none;
    font-size: 1.4rem;
    padding: 0 3rem; }
    .card__list li {
      padding: .8rem 0; }
      .card__list li:not(:last-child) {
        border-bottom: solid 1px #e7e7e7; }
  .card__banner {
    color: white;
    margin-top: 1rem;
    padding: .5rem 0;
    font-style: italic; }
    .card__banner--1 {
      background-image: linear-gradient(to top right, #fcb763, #FF8E00); }
    .card__banner--2 {
      background-image: linear-gradient(to top right, #84ceff, #0099ff); }
    .card__banner--3 {
      background-image: linear-gradient(to top right, #f56eba, #FF0090); }
  .card__action {
    margin-top: 2rem; }
  .card .price {
    margin: 0 .5rem;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    vertical-align: middle; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center; }
  @media only screen and (max-width: 55em) {
    .rows {
      flex-direction: column; } }

.columns {
  display: flex;
  flex-direction: column; }

.footer {
  background-color: #0099ff;
  color: white;
  text-align: center;
  padding: 0 2rem 3rem 2rem; }
  .footer__brand {
    font-size: 2rem; }
    .footer__brand > * {
      display: block; }
  .footer__icon {
    font-size: 6rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 3rem; }
  .footer__link {
    display: block; }
    .footer__link, .footer__link:link, .footer__link:visited {
      border: solid 5px transparent;
      transition: all .3s ease; }
    .footer__link:hover, .footer__link:active {
      transform: scale(1.2);
      color: white;
      border-bottom: solid 5px #FF8E00; }
  .footer__copyright {
    font-size: 1.2rem; }

.header {
  background-color: #0099ff; }
  .header__brand {
    position: absolute;
    top: 3rem;
    left: 4rem; }
    @media only screen and (max-width: 55em) {
      .header__brand {
        top: 1rem;
        left: 2rem; } }
  .header__icon {
    margin-right: .25rem; }

.navigation {
  font-size: 3rem;
  /**
    * When the "checkbox" is checked, remove the middle line, then roate the 
    * "before" and "after" lines to form an "X" for the menu close button.
    **/
  /**
    * When the "checkbox" is checked, make the background fill the screen and 
    * show it and the nav section from their hidden state.
    **/ }
  .navigation__brand {
    width: 20rem;
    display: block;
    text-align: center;
    font-size: 2rem;
    transition: all .3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem; }
    .navigation__brand > * {
      display: block;
      margin: 0 auto; }
    .navigation__brand:hover {
      transform: scale(1.1); }
  .navigation__icon {
    font-size: 6rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: white;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 3000;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
    border-radius: 50%; }
    @media only screen and (max-width: 55em) {
      .navigation__button {
        top: 1rem;
        right: 2rem; } }
  .navigation__toggle {
    position: relative;
    margin-top: 3rem; }
    .navigation__toggle, .navigation__toggle::before, .navigation__toggle::after {
      width: 3rem;
      height: 3px;
      background-color: #0099ff;
      display: inline-block; }
    .navigation__toggle::before, .navigation__toggle::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .navigation__toggle::before {
      top: -1rem; }
    .navigation__toggle::after {
      top: 1rem; }
  .navigation__background {
    position: fixed;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    background-color: #0099ff;
    border-radius: 50%;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .8s ease; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    opacity: 0;
    width: 0; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    border-top: solid 1px white; }
    @media only screen and (max-width: 55em) {
      .navigation__list {
        width: 100%; } }
  .navigation__item {
    margin: 2rem; }
  .navigation__link {
    display: inline-block; }
    .navigation__link:link, .navigation__link:visited {
      transition: all .3s;
      padding: 0 3rem; }
    .navigation__link:hover, .navigation__link:active {
      transform: scale(1.1);
      background-color: white;
      color: #FF0090;
      font-weight: 700;
      border-radius: 10rem;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .navigation__button:hover {
    transform: scale(1.1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .navigation__checkbox:checked + .navigation__button .navigation__toggle {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__toggle::before {
    top: 0;
    transform: rotate(135deg);
    background-color: #FF0090; }
  .navigation__checkbox:checked + .navigation__button .navigation__toggle::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: #FF0090; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(85);
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    transition: opacity .9s ease-in; }

.info {
  padding: 0 10rem; }
  @media only screen and (max-width: 75em) {
    .info {
      width: 100%;
      text-align: center;
      padding: 0; } }
  .info > * {
    margin: 0 1rem; }
  .info__content {
    padding: 5rem; }
    @media only screen and (max-width: 55em) {
      .info__content {
        padding: 2rem;
        order: 2; } }
  @media only screen and (max-width: 55em) {
    .info__image {
      order: 1; } }
  .info__photo {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    transition: all .2s;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 5rem; }
    @media only screen and (max-width: 55em) {
      .info__photo {
        height: 15rem;
        width: 15rem;
        margin-top: 0; } }
    .info__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.reviews {
  padding: 10rem 0;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .reviews {
      padding: 5rem 0; } }
  .reviews .review {
    background-color: rgba(255, 255, 255, 0.75);
    width: 60%;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 75em) {
      .reviews .review {
        width: 90%; } }
    .reviews .review__title {
      font-weight: bold;
      text-transform: uppercase;
      color: #FF0090;
      font-size: 1.6rem;
      font-style: italic; }
    .reviews .review__content {
      margin: 1rem 0;
      font-size: 1.4rem; }
    .reviews .review__user {
      font-size: 1.2rem;
      color: #999;
      text-align: right; }
