$color-primary: #0099ff;
$color-primary-dark: #0067ac;
$color-primary-light: #84ceff;

$color-secondary: #FF8E00;
$color-secondary-dark: #DB7A00;
$color-secondary-light: #FFA330;

$color-tertiary: #FF0090;
$color-tertiary-dark: #B00063;
$color-tertiary-lght: #FD2FA4;

$color-white: white;
$color-black: black;

$color-grey: #555;
$color-grey-dark: #333;
$color-grey-light: #e7e7e7;

$default-font-size: 1.6rem;
