.center {
  text-align: center; }

.mt-1,
.my-1 {
  margin-top: 1rem; }

.mt-2,
.my-2 {
  margin-top: 3rem; }

.mt-3,
.my-3 {
  margin-top: 5rem; }

.mb-1,
.my-1 {
  margin-bottom: 1rem; }

.mb-2,
.my-2 {
  margin-bottom: 3rem; }

.mb-3,
.my-3 {
  margin-bottom: 5rem; }

.py-1 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.py-2 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

p {
  margin: 1.5rem 0; }

hr {
  margin: 2rem auto;
  width: 90%;
  border: 0;
  height: 2px;
  background-image: -moz-linear-gradient(left, white, #B6EEEF, white); }

.main {
  position: relative; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 1.6rem; }

.navigation {
  color: white;
  font-size: 2rem; }

.header__brand {
  font-size: 3rem; }

.heading-primary {
  color: white;
  text-transform: uppercase; }
  .heading-primary > * {
    display: block; }
  .heading-primary--title {
    font-size: 4rem;
    letter-spacing: 1rem; }
  .heading-primary--subtitle {
    font-size: 2.2rem;
    letter-spacing: .75rem; }

.heading-secondary {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to top right, #7100db, #18003f);
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  color: #60c2c4; }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  transition: all .2s; }
  .button:hover, .button:link:hover, .button:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .button:active, .button:focus, .button:link:active, .button:link:focus, .button:visited:active, .button:visited:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.button--primary {
  border: solid 1px #18003f;
  background-color: #5100ad;
  color: white;
  padding: 1.5rem 4rem; }

.button--secondary {
  border: solid 1px #54b9bb;
  background-color: #60c2c4;
  color: white;
  padding: 1rem 2.5rem; }

.link, .link:link, .link:visited {
  font-size: 1.4rem;
  color: #5100ad;
  display: inline-block;
  padding: 1rem 1.5rem;
  transition: all .3s; }

.link > * {
  display: inline-block;
  vertical-align: middle; }

.link:hover {
  transform: scale(1.2); }

.link:active {
  transform: translateY(0); }

.icon--white {
  fill: white; }

.icon--secondary {
  fill: #60c2c4; }

.icon--primary {
  fill: #5100ad; }

.icon--large {
  height: 9rem;
  width: 9rem; }

.icon--medium {
  height: 5rem;
  width: 5rem; }

.icon--small {
  height: 3rem;
  width: 3rem; }

.row {
  max-width: 112rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="column-"] {
    float: left; }
    .row [class^="column-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .column {
    width: 100%; }
  .row .column-half {
    width: calc((100% - 5rem) / 2); }
  .row .column-one-third {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .column-one-quarter {
    width: calc((100% - 3 * 5rem) / 4); }

.header {
  height: 40rem;
  width: 100%;
  background-image: linear-gradient(to right top, rgba(113, 0, 219, 0.8), rgba(24, 0, 63, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__brand {
    position: absolute;
    top: 1rem;
    left: 5rem;
    color: white; }
  .header__link > * {
    display: inline-block;
    vertical-align: middle; }
  .header__content {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #5100ad;
  color: white; }
  .footer__logo {
    margin: 0 auto;
    transition: all .3s; }
    .footer__logo:hover {
      transform: scale(1.1); }
  .footer__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: -1.5rem;
    color: white; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 3rem; }
  .footer__link {
    display: block; }
    .footer__link, .footer__link:link, .footer__link:visited {
      transition: all .3s;
      padding: .5rem 1rem; }
    .footer__link:hover {
      transform: scale(1.1);
      color: #60c2c4;
      border-bottom: solid 1px #60c2c4; }
  .footer__copyright {
    margin-top: 3rem;
    font-size: 1.2rem; }

.navigation {
  font-size: 3rem;
  /**
    * When the "checkbox" is checked, remove the middle line, then roate the 
    * "before" and "after" lines to form an "X" for the menu close button.
    **/
  /**
    * When the "checkbox" is checked, make the background fill the screen and 
    * show it and the nav section from their hidden state.
    **/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: white;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 0;
    right: 5rem;
    z-index: 3000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all .2s; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 3px;
      background-color: #7100db;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
  .navigation__background {
    position: fixed;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    background-image: linear-gradient(to right top, #7100db, #18003f);
    top: -50rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s ease; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    opacity: 0;
    width: 0; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    display: inline-block; }
  .navigation__button:hover {
    transform: scale(1.1);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(85);
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }

.overlap {
  margin: -10rem auto 5rem auto;
  width: 80%;
  min-height: 25rem;
  background-color: white;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.2);
  padding: 3rem; }
  .overlap__content {
    font-size: 1.4rem;
    text-align: justify; }

.info__content {
  height: 45rem;
  display: table-cell;
  vertical-align: middle; }

.info__image {
  width: 85%; }

.info__paragraph {
  text-align: justify; }

.details {
  margin-top: 8rem; }
  .details .detail {
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    transition: all .2s; }
    .details .detail__content {
      text-align: justify; }
    .details .detail:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }

.message__box {
  background-color: #7100db;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  color: white;
  padding: 3rem; }
