*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #171717; }

.grid {
  display: grid;
  grid-template-rows: 75vh repeat(5, min-content);
  grid-template-columns: [outer-start] minmax(5rem, 1fr) [inner-start] repeat(10, [column-start] minmax(min-content, 15rem) [column-end]) [inner-end] minmax(5rem, 1fr) [outer-end]; }

body {
  font-family: sans-serif; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 3.5rem; }

.heading-2 {
  font-size: 3rem; }

.heading-3 {
  font-size: 2.5rem; }

.heading-4 {
  font-size: 2rem; }

.card {
  padding: 3rem;
  border: solid 1px #e0e0e0;
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.1);
  border-radius: 5px; }

.footer {
  grid-column: outer-start / outer-end;
  background-color: grey; }

.header {
  grid-column: outer-start / outer-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 60% 40%; }
  .header__nav {
    font-size: 2.2rem;
    padding: 1.5rem 0;
    grid-column: 1 / span 2;
    background-color: gold;
    justify-self: end; }
  .header__items {
    list-style: none; }
  .header__item {
    display: inline-block; }
    .header__item:not(:last-child) {
      margin-right: 2rem; }
  .header__left {
    background-color: red; }
  .header__right {
    margin: 2rem 4rem; }

.advert {
  grid-column: inner-start / inner-end;
  background-color: orange; }

.promos {
  grid-column: inner-start / inner-end;
  background-color: purple; }

.logos {
  grid-column: outer-start / outer-end;
  background-color: brown; }

.story {
  grid-column: outer-start / outer-end;
  background-color: green; }
