@charset "UTF-8";
.center {
  text-align: center; }

.right {
  text-align: right; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-3 {
  margin-top: 6rem;
  margin-bottom: 6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: inherit; }

.grid {
  display: grid;
  grid-template-rows: 75vh repeat(5, min-content);
  grid-template-columns: [outer-start] minmax(5rem, 1fr) [inner-start] repeat(10, [column-start] minmax(min-content, 15rem) [column-end]) [inner-end] minmax(5rem, 1fr) [outer-end]; }

body {
  font-family: sans-serif; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 5rem; }

.heading-2 {
  font-size: 3.6rem; }

.heading-3 {
  font-size: 2.5rem; }

.heading-4 {
  font-size: 2rem; }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  .button:hover, .button:link:hover, .button:visited:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 1rem rgba(23, 23, 23, 0.2); }
  .button:active, .button:focus, .button:link:active, .button:link:focus, .button:visited:active, .button:visited:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(23, 23, 23, 0.2); }

.button--full {
  width: 100%; }

.button--primary {
  background-color: #F50057;
  color: #f5f5f5; }

.card {
  padding: 3rem;
  border: solid 1px #e0e0e0;
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.1);
  background-color: #f5f5f5; }

.form__block {
  margin: 2rem auto; }

.form__text {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: solid 2px #F50057;
  background-color: rgba(245, 245, 245, 0.5);
  transition: all .3s;
  width: 90%;
  display: block;
  transition: all .2s; }
  .form__text:hover, .form__text:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.1); }

.form__text:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__checkbox {
  display: none; }

.form__checkbox-label {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  padding-left: 4.5rem; }

.form__checkbox-box {
  height: 3rem;
  width: 3rem;
  border: 2px solid #F50057;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__checkbox-box::after {
    content: "✓";
    display: block;
    height: 2rem;
    width: 2rem;
    font-size: 2.5rem;
    color: #F50057;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s; }

.form__checkbox:checked ~ .form__checkbox-label .form__checkbox-box:after {
  opacity: 1; }

.footer {
  grid-column: outer-start / outer-end;
  background-color: grey; }

.header {
  grid-column: outer-start / outer-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 60% 40%;
  justify-items: center; }
  .header__nav {
    font-size: 2.2rem;
    padding: 1.5rem 0;
    grid-column: 1 / span 2;
    width: 100%;
    color: #f5f5f5;
    display: flex;
    justify-content: end; }
  .header__items {
    list-style: none; }
  .header__item {
    display: inline-block;
    margin-right: 3rem; }
  .header__left {
    background-color: #F50057;
    color: #f5f5f5;
    font-size: 2.2rem;
    display: grid;
    padding: 5rem;
    line-height: 1.5;
    letter-spacing: 2px; }
  .header__content {
    align-self: center;
    justify-self: center; }
  .header__right {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #2051bd; }
  .header__form {
    margin: 3rem;
    align-self: center;
    justify-self: center; }

.advert {
  font-size: 2rem;
  grid-column: inner-start / inner-end;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 2fr 3fr;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .advert__image {
    width: 100%; }
  .advert__left {
    margin: 10rem 5rem; }
  .advert__right {
    margin-right: 3rem;
    text-align: center; }

.logos {
  grid-column: outer-start / outer-end;
  background-color: #F50057;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center; }
  .logos img {
    max-height: 4.5rem;
    max-width: 100%;
    filter: brightness(90%); }

.promo {
  grid-column: inner-start / inner-end;
  background-color: purple; }
  .promo__cards {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }

.story {
  grid-column: outer-start / outer-end;
  background-color: green; }
