$color-primary: #5100ad;
$color-primary-dark: #18003f;
$color-primary-light: #7100db;

$color-grey: #555;
$color-grey-dark: #333;
$color-grey-light: #efefef;

$color-black: black;
$color-white: white;

$grid-width: 112rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 5rem;

$default-font-size: 1.6rem;
