.header {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, $color-primary-light 5%, $color-primary-dark 95%);
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        transform: scaleX(1.5);
        z-index: -1;

        @media screen and (max-width: 720px) {
            border-radius: 0 0 80% 80%/0 0 100% 100%;
        }

        @media screen and (max-width: 480px) {
            border-radius: 0 0 115% 115%/0 0 100% 100%;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;

        & > * {
            flex: 1 1 0;
        }

        &-items {
            list-style: none;
        }

        &-item {
            font-size: 2.5rem;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &__content {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding-top: 8rem;
    }
}

