@keyframes inFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    80% {
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes inFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    80% {
        transform: translateX(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}