*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid {
    display: grid;
    grid-template-rows: min-content repeat(5, min-content);
    grid-template-columns: [outer-start]
    minmax(5rem, 1fr)
    [inner-start] 
    repeat(10, [column-start] minmax(min-content, 15rem) [column-end])
    [inner-end]
    minmax(5rem, 1fr)
    [outer-end];
}