body {
    font-family: 'Hammersmith One', sans-serif;
}

%heading {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 5rem;

    &--animated {
        animation: fadeIn 1s ease-out;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 3.6rem;

    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2.5rem;

    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;

    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }
}