.icon {
    &--white {
        fill: $color-white;
    }

    &--secondary {
        fill: $color-secondary;
    }

    &--primary {
        fill: $color-primary;
    }

    &--large {
        height: 9rem;
        width: 9rem;
    }

    &--medium {
        height: 5rem;
        width: 5rem;
    }

    &--small {
        height: 3rem;
        width: 3rem;
    }
}