$color-primary: #5100ad;
$color-primary-dark: #18003f;
$color-primary-light: #7100db;

$color-secondary: #00c4b7;
$color-secondary-dark: #1aa39a;
$color-secondary-light: #71f7ee;

$color-grey: #555;
$color-grey-dark: #333;
$color-grey-light: #e7e7e7;

$color-black: black;
$color-white: white;

$grid-width: 112rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 5rem;

$default-font-size: 1.6rem;
