$default-font-size: 1.6rem;

$color-primary: #F50057;
$color-primary-light: #fc4362;
$color-primary-dark: #b90041;

$color-secondary: #2051bd;
$color-secondary-light: #356be0;
$color-secondary-dark: #113688;

$color-grey: #e0e0e0;
$color-white: #f5f5f5;
$color-black: #171717;